@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #98FF98;
    font-family: "Karla", sans-serif;
}

.heading {
    height: 50px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    margin-top: 30px;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; /* Adjusted to ensure the container is responsive */
    max-width: 800px; /* Added a max-width to ensure it doesn't get too large on big screens */
}

.canvas {
    border: 1px solid black;
    background-color: aliceblue;
    aspect-ratio: 16 / 10;
    width: 100%;
}

.top, .bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0 20px 0;
}

.block, input, select, button {
    width: 100%;
}

.top>.block {
    margin: 10px;
}

.block p {
    text-align: center;
    margin-bottom: 5px;
}

.block input, select {
    width: 100%;
}

button {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: .375em;
    box-shadow: none;
    box-sizing: border-box;
    color: #363636;
    cursor: pointer;
    display: inline-flex;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    height: 2.5em;
    justify-content: center;
    line-height: 1.5;
    padding: calc(.5em - 1px) 1em;
    position: relative;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
    transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
    margin-left: 5px;
    margin-right: 5px;
    width: 40%;
}

button:active {
    border-color: #4a4a4a;
    outline: 0;
}

button:focus {
    border-color: #485fc7;
    outline: 0;
}

button:hover {
    border-color: #b5b5b5;
    background-color: #3CB371;
    transform: scale(1.05);
}

button:focus:not(:active) {
    box-shadow: rgba(72, 95, 199, .25) 0 0 0 .125em;
}

.bottom {
    justify-content: center;
}

@media (max-width: 768px) {
    .top, .bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    button {
        width: 100%;
        margin-bottom: 15px;
    }
}

